In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(42)

In [3]:
data = pd.DataFrame({
    'A': np.random.randint(1,100,10),
    'B': np.random.randint(1,100,10),
    'C': np.random.randint(1,100,10)
})

In [4]:
data.iloc[2,0] = np.nan
data.iloc[5,1] = np.nan
data.iloc[8,2] = np.nan

In [5]:
print("Data dengan missing value: ", data)

Data dengan missing value:        A     B     C
0  52.0  88.0  64.0
1  93.0  24.0  60.0
2   NaN   3.0  21.0
3  72.0  22.0  33.0
4  61.0  53.0  76.0
5  21.0   NaN  58.0
6  83.0  88.0  22.0
7  87.0  30.0  89.0
8  75.0  38.0   NaN
9  75.0   2.0  91.0

In [6]:
data.isnull().sum()

A    1
B    1
C    1
dtype: int64

In [7]:
# data.dropna() # menghapus baris yang memiliki missing values
# data.dropna(axis=1) # menghapus kolom yang memiliki missing values
# data.fillna(0) # mengganti missing values dengan nilai tetap(dalam hal ini 0)
data.fillna(data.mean()) # mengganti missing values dengan rata-rata tiap kolom

           A          B          C
0  52.000000  88.000000  64.000000
1  93.000000  24.000000  60.000000
2  68.777778   3.000000  21.000000
3  72.000000  22.000000  33.000000
4  61.000000  53.000000  76.000000
5  21.000000  38.666667  58.000000
6  83.000000  88.000000  22.000000
7  87.000000  30.000000  89.000000
8  75.000000  38.000000  57.111111
9  75.000000   2.000000  91.000000